
.container{
   display: flex;
   height: 1000px;
 
 }
 .container-inner{
   margin: 0 auto;
   font-family: monospace;
 }
 h1,h2{
   text-align: center;
 }
 
 input{
   outline: none;
   margin-left: 5px;
   border-radius: 5px;
   border: 1px solid #282c34;
   height: 20px;
 }
 
 button{
   background-color: #fd8d14;
   border: 1px solid #282c34;
   margin-left: 5px;
   border-radius: 5px;
   height: 25px;
   width: 50px;
 }
 
 .btn-after{
   margin-bottom: 3px;
 }