.input{
   outline: none;
   border: 1px solid #64ccc5;
   height: 30px;
   font-family: monospace;
   padding: 6px;
   border-radius: 5px;
   background-color: #64CCC5;
   color: white;
   width: 400px;
   font-size: 20px;
}
h1{
   color: white;
}
ul{
   color: white;
   font-family: monospace;
   font-size: 25px;
}
.btnReload{
   background-color:red;
   border: none;
   cursor: pointer;
   height: 40px;
   width: 70px;
   border-radius: 5px;
   font-family: monospace;
   font-size: 20px;
   color: white;
}

.btnReload:hover{
   background-color: white;
   color:red;
   transition: 0.4s;
}

.btnReload:active{
   background-color: red;
   color:white;
   transition: 0.4s;
}